@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    Bienvenido a la aplicación Ciudadanos Sanos, tu solución integral para crear y administrar consultas de una EPS de manera eficiente y efectiva. Nuestra plataforma ha sido diseñada pensando en tu comodidad y bienestar, ofreciéndote una experiencia única en la gestión de tus necesidades de salud.

    Con Ciudadanos Sanos, podrás realizar consultas médicas de manera sencilla y rápida, sin necesidad de desplazarte físicamente a un centro médico. A través de la aplicación, podrás agendar citas con especialistas en diferentes áreas de la salud, tales como medicina general, pediatría, ginecología, odontología y muchas más. Además, podrás seleccionar el profesional de tu preferencia y verificar su disponibilidad de manera inmediata.

    Nuestra aplicación te brinda la posibilidad de realizar seguimiento a tus consultas anteriores, accediendo a tu historial médico de manera digital. Podrás revisar diagnósticos, tratamientos y recomendaciones médicas, todo en un solo lugar. Esto te permitirá tener un mayor control sobre tu salud y tomar decisiones informadas en relación a tu bienestar.
</div>
